body {
        background-image: url("../assets/landing_page_bg.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        margin: 0;
}

h1 {
        color: white;
        font-size: 6rem;
        line-height: 0.2;
}

.container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
}

button {
        background-color: #2b2933;
        border-radius: 5px;
        color: white;
        margin: 0 10px;
        padding: 15px 50px;
}
