body {
    background-image: url("../assets/landing_page_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 6rem;
    line-height: 0.2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 50px;
    margin: 0 10px;
}

